allow_k8s_contexts("[FILL KUBECTL CONTEXT]")

# Disable watching
watch_settings(ignore=["**/*"])

# AWS ECR base
aws_account_id = "[ACCOUNT ID]"
region = "[REGION]"
ecr_base = aws_account_id + ".dkr.ecr." + region + ".amazonaws.com"

# Auth to ECR using shell
local("aws ecr get-login-password --region " + region + " | docker login --username AWS --password-stdin " + ecr_base)

# List of services to build
services = {
    "auth-service": "./app/auth",
    "tenant-service": "./app/tenant",
    "log-service": "./app/log",
    "log-worker": "./app/log_worker",
}

# Build and push each service
for name, path in services.items():
    image = ecr_base + "/" + name + ":prod"
    custom_build(
        name=image,
        command="docker build -t {img} {path} && docker push {img}".format(img=image, path=path),
        deps=[path],
        tag=image
    )

# Load K8s YAMLs that use those image names
k8s_yaml([
    "k8s/prod/mongodb-deployment.yaml",
    "k8s/prod/mongodb-service.yaml",

    "k8s/prod/auth-deployment.yaml",
    "k8s/prod/auth-service.yaml",
    "k8s/prod/tenant-deployment.yaml",
    "k8s/prod/tenant-service.yaml",
    "k8s/prod/log-deployment.yaml",
    "k8s/prod/log-service.yaml",
    "k8s/prod/log-worker-deployment.yaml",

    "k8s/prod/ingress.yaml"
])
